{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Topic details</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'mdb.css' %}">
</head>
<body class="bg-primary">
    
    <center>
        <h1>Displaying the info the Topic model</h1>
        {% if topics %}
           <table border="1px" class="text-white " >
            
               <tr><th>Topic_name</th></tr>
                {% for i in topics %}
                 <tr>
                     <td>{{i.topic_name}}</td>
                 </tr>
                {% endfor %} 
           </table>
        {% else %}
         <h1>no data in Topic model </h1>
        {% endif %}    
    </center>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/mdb.js' %}"></script>   
</body>
</html>